UserInterfaceState.xcuserstate
*.xcbkptlist
Crescendo.xcodeproj/project_BACKUP_14266.pbxproj
Crescendo.xcodeproj/project_BASE_14266.pbxproj
Crescendo.xcodeproj/project_LOCAL_14266.pbxproj
Crescendo.xcodeproj/project_REMOTE_14266.pbxproj
